S3method(plot,fuzzy)
import(ggplot2)
importFrom(stats, as.formula)
importFrom(stats, dist, rnorm, runif)
importFrom(mvtnorm, rmvnorm, dmvnorm)
importFrom(Thresher, matchLabels)
importFrom(fclust, FKM)
importFrom(mclust, Mclust)
importFrom(np, npudensbw)
export(clustering.accuracy)
export(fuzzy.spectral.clustering)
export(rNN.dist)
export(find.radius)
export(compute.sigma)
export(compute.SNN)
export(make.adjacency)
export(gen.fuzzy)
export(plot.fuzzy)